.container {
  padding: 20px 0;
}

h1 {
  text-align: center;
  margin: 5px 0 25px 0;
}

h3,
h4 {
  margin: 10px;
}

a {
  color: black;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

.dark a:hover,
a:hover {
  color: #a36565;
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.favButton {
  padding: 0.5rem;
  background-color: #964c4c;
  color: white;
  border: none;
  border-radius: 5dvh;
  cursor: pointer;
}

.favButton:hover {
  background-color: #532a2a;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 150px;
  margin: 1rem auto;
}

.dark {
  background-color: #12121296;
  color: white;
}

.dark a {
  color: white;
}
